* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.nav-sec {
  width: 100%;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1500;
  padding: 10px 33px 0px 33px;
  background-color: #e5ebf3;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-logo-sec .logo {
  max-height: 50px;
}

.nav-contact-sec {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-contact-sec .nav-contact-items .contact-icons {
  height: 38px;
  margin-right: 8px;
}

.nav-contact-sec .nav-contact-items {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.nav-inner-contact-item .contact-txt1 {
  color: #02aaf0;
  font-size: 15px;
  display: block;
  margin-bottom: 4px;
}

.nav-inner-contact-item .contact-txt2 {
  font-size: 14px;
}

.dropdown-items-sec {
  width: 100%;
  padding: 20px 25px;
  background-color: white;
  border-radius: 9px;
  margin-top: 17px;
}

.dropdown-list {
  margin: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.dropdown-item a {
  font-size: 14px;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  padding-bottom: 13px;
}

.dropdown-item a .sub-dropdown-list {
  padding-left: 0px;
  position: absolute;
  width: 140px;
  left: 0px;
  overflow-y: hidden;
  transition: all 0.4s;
  top: 30px;
  height: 0px;
  z-index: 1000;
  background-color: white;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-item a .sub-dropdown-list .sub-dropdown-item {
  font-weight: 500 !important;
  padding: 0px 11px;
}

.dropdown-item a span .arrow-icon {
  background-image: url("/resources/images/dropdown-icon.svg");
  height: 11px;
  width: 11px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -23px;
  top: 4px;
  transform: rotate(90deg);
  transition: all 0.3s;
}

.dropdown-item a .sub-dropdown-list .sub-dropdown-item {
  margin-bottom: 16px;
}

.dropdown-item a:hover > .sub-dropdown-list {
  height: 211px;
  padding: 14px 0px;
}

.dropdown-item a:hover > span .arrow-icon {
  transform: rotate(272deg);
}

.responsive-dropdown-sec {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 73px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: auto;
  right: 0px;
  max-height: 510px;
}

.dropdown-responsive-sec {
  background-color: white;
  width: 100%;
}

.dropdown-responsive-list {
  list-style: none;
  padding: 0px 13px;
}

.dropdown-responsive-item {
  padding: 9px;
}

.dropdown-responsive-item a .sub-dropdown-list {
  height: auto;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.6s ease-in-out;
  list-style: none;
  padding-left: 14px;
}

.dropdown-responsive-item a span {
  position: relative;
  padding: 3px 0px;
  display: block;
  font-weight: 600;
}

.dropdown-responsive-item a .sub-dropdown-list li {
  margin-top: 15px;
}

.dropdown-responsive-item a span .arrow-icon {
  background-image: url("./resources/images/dropdown-icon.svg");
  height: 11px;
  width: 11px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 15px;
  top: 4px;
  transform: rotate(90deg);
  transition: all 0.3s;
}

.collapse {
  max-height: 500px !important;
}

.collapse1 {
  display: block !important;
}

.menu-btn {
  display: none;
  outline: none;
  background-color: transparent;
  border-width: 0px;
  padding: 0;
}

.menu-btn img {
  height: 35px;
  width: 35px;
}

.price-section {
  background-color: #7bd2f6;
  margin-top: 130px;
  padding: 20px 20px 36px 20px;
  width: 100%;
}

.price-section .price-section1 {
  display: flex;
  justify-content: center;
}

.price-card-sec {
  background-color: #0b2a49;
  flex-basis: 44%;
  border-radius: 15px;
  border: 5px solid white;
  text-align: center;
  color: white;
  padding: 0px 19px 66px 19px;
  margin: 23px 21px 0px 21px;
  position: relative;
}

.price-card-sec h4 {
  font-weight: 400;
  font-size: 18px;
  margin-top: 12px;
  line-height: 24px;
}

.price-card-sec .price-num-sec {
  margin: 40px auto;
  position: relative;
}

.price-card-sec .price-num-sec span:nth-child(1) {
  position: absolute;
  left: 0px;
  font-size: 15px;
}
.price-card-sec .price-num-sec span:nth-child(3) {
  position: absolute;
  right: 0px;
  top: 38px;
  font-size: 15px;
}

.price-card-sec .price-num-sec h2 {
  font-size: 50px;
  margin: 0px;
}

.price-card-sec .price-btn {
  background-color: white;
  outline: none;
  border-width: 0px;
  padding: 9px 19px;
  border-radius: 6px;
  font-size: 15px;
  margin-bottom: 23px;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  transform: translateX(-51%);
}

.price-section .price-para {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 45px;
}

.price-section .price-section2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.price-section .price-section2 .price-section2-item {
  flex: 1;
}

.features-sec {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  justify-content: space-between;
}

.features-sec .feature-cards {
  border: 2px solid white;
  flex-basis: 47%;
  border-radius: 12px;
  text-align: center;
  padding: 20px 16px 7px 16px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 17px;
}

.features-sec .feature-cards::after {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 0px;
  border-radius: 8px;
}

.features-sec .feature-cards .card-txt1 {
  display: block;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 7px;
}

.features-sec .feature-cards .card-txt2 {
  font-size: 14px;
  font-weight: 500;
}

.bg-img-sec {
  background-image: url("./resources/images/price-bg-img.png");
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-bottom: 2px solid white;
}

.review-sec {
  background-color: white;
  border: 5px solid #02aaf0;
  padding: 40px 18px;
  border-radius: 12px;
  max-width: 100%;
}

.reviewer-sec {
  margin-bottom: 11px;
  display: flex;
  align-items: center;
}

.reviewer-sec .review-person-icon {
  height: 32px;
  margin-right: 10px;
}
.reviewer-sec .review-details-sec .review-name {
  font-weight: 600;
}

.reviewer-sec .review-details-sec .review-star {
  display: flex;
  margin-top: 4px;
}

.review-sec .review-desc-sec {
  color: grey;
  line-height: 20px;
  font-size: 15px;
}

.reviewer-sec .review-details-sec .review-star div {
  background-image: url("resources/images/star-logo.svg");
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-repeat: no-repeat;
}

.slide-section {
  background-color: #0b2a49;
  padding: 45px 20px;
  border-top: 27px solid white;
}

.swiper-slide .slide1 {
  background-image: url("resources/images/slider-img1.jpg");
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #0b2a49;
}

.swiper-slide .slide2 {
  background-image: url("resources/images/slider-img2.jpg");
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #0b2a49;
}

.swiper-slide .slide3 {
  background-image: url("resources/images/slider-img3.jpg");
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #0b2a49;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  transform: scale(0.5);
  outline: none;
  border-width: 0px;
}

.footer-sec {
  background-color: #0b2a49;
  padding: 50px 20px 30px 20px;
  display: flex;
  flex-wrap: wrap;
  border-top: 27px solid white;
  justify-content: space-around;

}

.footer-items-sec .footer-inner-item {
  margin: 0px 20px 20px 20px;
  max-width: 220px;
}

.footer-items-sec .footer-inner-item .footer-item-txt1 {
  color: white;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.footer-items-sec .footer-inner-item .footer-item-txt2 {
  color: #c4c1c1;
  font-size: 13px;
}
.footer-list-item {
  margin-bottom: 22px;
  margin-top: 13px;
}

.footer-list-item .footer-list-txt1 {
  color: white;
  font-size: 14px;
}

.footer-list-item .footer-list2 {
  padding-left: 20px;
  margin: 11px 0px;
}

.footer-list-item .footer-list2 li {
  color: #c4c1c1;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 9px;
}

.container {
  max-width: 1150px;
  margin: auto;
}

@media (max-width: 1200px){
  .price-card-sec .price-num-sec span:nth-child(1){
    top: -15px;
  }

  .price-card-sec .price-num-sec span:nth-child(3){
    top: 54px;
  }
}

@media (max-width: 991px) {

  .footer-items-sec {
    flex: 1;
  }

  .footer-items-sec:nth-child(1) {
    flex-basis: 100%;
    margin-bottom: 32px;
  }
  .nav-sec {
    padding: 0px;
  }

  .price-section .price-section2 .price-section2-item {
    flex-basis: 50%;
    margin-bottom: 26px;
  }

  .features-sec {
    max-width: 100%;
  }

  .price-section .price-section1 {
    padding-top: 0px !important;
  }

  .dropdown-item a span .arrow-icon {
    right: -17px;
  }

  .nav-contact-sec {
    margin: auto;
  }

  .nav-contact-sec .nav-contact-items:nth-child(3) {
    margin-right: 20px;
  }

  .nav-logo-sec {
    margin: 10px 20px 25px 20px;
  }
}

@media (max-width: 768px) {
  .footer-items-sec {
    flex-basis: 50% !important;
    margin-bottom: 32px;
  }

  .price-section .price-section1 {
    flex-wrap: wrap;
    justify-content: unset;
    padding-top: 67px;
  }

  .price-card-sec .price-num-sec{
    max-width: 250px;
  }

  .price-section {
    margin-top: 64px;
  }

  .price-card-sec {
    flex-basis: 100%;
    margin: 23px 0px;
  }

  .nav-logo-sec {
    margin: unset;
  }

  .menu-btn {
    display: block;
  }

  .dropdown-items-sec {
    display: none;
  }

  .dropdown-list {
    flex-direction: column;
  }

  .footer-items-sec:nth-child(2) {
    order: 3;
  }

  .footer-items-sec:nth-child(3) {
    order: 2;
  }
  .nav-sec {
    padding: 10px 33px 10px 33px;
  }

  .responsive-dropdown-sec .nav-contact-sec {
    display: flex !important;
    margin-top: 27px;
  }

  .responsive-dropdown-sec .nav-contact-sec .nav-contact-items {
    margin-left: 21px;
    margin-bottom: 20px;
  }

  .nav-contact-sec {
    display: none;
  }
}

@media (max-width: 567px) {
  .footer-items-sec {
    flex-basis: 100% !important;
  }

  .price-section .price-section2 .price-section2-item {
    flex-basis: 100%;
  }

  .nav-sec {
    padding: 10px 12px;
  }
}
